$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-black: #000;
$color-white: red;
$color-black-faded: rgba(0,0,0,.2);

//Basic Reset
*,
*::after,
*::before {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}

html {
    font-size: 56.25%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

    box-sizing: border-box;
    
}

.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__center-text-box {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }    
}

.header-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: inherit;
    margin: 1.5rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.5rem;

        animation: inFromLeft 1.5s;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2.15rem;
        animation: inFromRight 1.5s;
    }
}

@keyframes inFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    60% {
        transform: translateX(3rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0rem)
    }
}

@keyframes inFromRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    60% {
        transform: translateX(-3rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0rem)
    }
}

@keyframes inFromBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0rem)
    }
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem $color-black-faded;
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem $color-black-faded;
    }

    &--white {
        color: $color-grey-dark;
        background-color: $color-white;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white::after {
        background-color: $color-white;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &--animated {
        animation: inFromBottom .5s ease-out 1s;
        animation-fill-mode: backwards; 
    }
}