body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;    
}

.header-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: inherit;
    margin: 1.5rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
    
        animation: inFromLeft 1.5s;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2.15rem;
    
        animation: inFromRight 1.5s;
    }
}