/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Basic Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, 
        rgba(126, 213, 111, 0.808), 
        rgba(39, 179, 133, 0.801)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
    
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 35px;
}

.center-text-box {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: inherit;
    margin: 15px;
}

.header-primary-main {
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 15px;

    animation: inFromLeft 1.5s;

}

.header-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 21.5px;

    animation: inFromRight 1.5s;
}

@keyframes inFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    60% {
        transform: translateX(30px)
    }

    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes inFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    60% {
        transform: translateX(-30px)
    }

    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    
}

.btn-white {
    color: #777;
    background-color: #fff;
}

